@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  /* background */
  --background: #212121;
  --background-secondary: #171717;
  --background-tertiary: #2d2d2d;

  /* foreground */
  --foreground: #ffffff;
  --foreground-secondary: #1c1c1c;
  --foreground-tertiary: #2d2d2d;

  --primary: #e53637;
  --font-color-primary: #ffffff;
}

@theme inline {
  /* background */
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);

  /* foreground */
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-tertiary: var(--foreground-tertiary);
  --color-font-color-primary: var(--font-color-primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-border-primary: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mulish", sans-serif;
}

button {
  cursor: pointer;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.x-container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.caption-font {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 26px;
}

/* buttons */

.btn {
  @apply cursor-pointer block font-semibold uppercase;
}

.btn.btn-primary {
  @apply bg-primary text-white hover:opacity-75 active:opacity-100;
}

.btn.btn-secondary {
  @apply bg-background-secondary text-white hover:opacity-75 active:opacity-100;
}

.btn.btn-xs {
  @apply px-2 py-1 md:px-3 md:py-2 text-xs;
}
.btn.btn-md {
  @apply px-4 py-2 md:px-6 md:py-4 text-base;
}

.outlined-3-primary {
  @apply focus:outline-3 focus:outline-offset-2 focus:outline-double focus:outline-primary/50;
}
